@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color: #70726e;

body {
    background-color: $primary-color;
}

.pokedex-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* centre horizontalement */
    justify-content: center;
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 16px rgba(0,0,0,0.25);
    }
}

.pokemon-image {
    max-width: 120px;
    height: auto;
    margin-bottom: 10px;
}
